<div class="page-header">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Trains Index</h1>
    </div>
  </div>
</div>



<% @trains.in_groups_of(2) do |group| %>
<div class="row" data-equalizer>
  <% group.compact.each do |train| %>
  <div class="medium-6 columns" data-equalizer-watch>
    <%= link_to (image_tag train.image), train_path(train) %>
    <b><%= train.stock %></b>
    <br>
  </div>
  <% end %>
</div>
<% end %>