<div class="page-header">
  <div class="row">
    <div class="medium-6 medium-centered column">
      <h1>TubeSpotter</h1>
      <h3>Coming soon</h3>
    </div>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="medium-4 columns" data-equalizer-watch>

  </div>
  <div class="medium-4 columns" data-equalizer-watch>

  </div>
  <div class="medium-4 columns"data-equalizer-watch>
    <p>:pug: :pug: :pug:</p>

  </div>
</div>