<div class="page-header">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Recent Spots</h1>
    </div>
  </div>  
</div>

<% @posts.in_groups_of(3) do |group| %>
<div class="row">
  <% group.compact.each do |post| %>
  <div class="medium-4 columns">
    <%= link_to (image_tag post.image), post_path(post), class: "one-hundred" %>
    <%= link_to post.title, post_path(post) %>
    <%= @rolling_stock.find_by(id: post.train_id).try(:stock) %>
    <br>
    By <%= link_to post.user.username, user_path(post.user) %>
  </div>
  <% end %>
</div>
<hr>
<% end %>

