<div class="page-header">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Posts index</h1>
    </div>
  </div>  
</div>

<% @posts.in_groups_of(3) do |group| %>
<div class="row">
  <% group.compact.each do |post| %>
  <div class="medium-4 columns">
    <%= link_to (image_tag post.image), post_path(post) %>
    <%= post.title %>
  </div>
  <% end %>
</div>
<hr>
<% end %>