/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 /*= require foundation

 */
 @import "pushy";
 @import "foundation_and_overrides";
 @import url(https://fonts.googleapis.com/css?family=Raleway:600);

body {
  // background-image: url('https://c2.staticflickr.com/4/3688/9516746636_d49876324d_b.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  background: white;
}

h1, h2, h3, h4, h5 ,h6 {
  font-family: 'Raleway', sans-serif;
  color: #444;
}


header {
  background: #efefef;
  
  h1 {
    margin: 0;
    text-align: left;
    font-size: 2rem;
  }
  span {
    color: white;
  }
}

.one-hundred {
  width: 100%;
  display: block;
}

.sign-up {
  background: #efefef;
}

.show {
  h1, h2, h3, h4, h5 ,h6 {
    text-align: initial;
  }
  h1 {
    text-align: center; 
  }

  h3 {
    text-align: center;
  }
}

.page-header {
  background: #1ab98f;
  margin-bottom: 3em;

  h1, h2, h3, h4, h5 ,h6 {
    color: white;
    text-align: center;
  }
  // For the class colours: 
  &.bakerloo     { background: #AB3F24; }  
  &.central      { background: #E20505; }
  &.circle       { background: #FDC63C; }
  &.district     { background: #087108; }
  &.hammersmith  { background: #E6A6B1; }
  &.jubilee      { background: #969696; }
  &.metropolitan { background: #902590; }
  &.nothern      { background: #222222; }
  &.piccadilly   { background: #28287D; }
  &.victoria     { background: #50A2C3; }
  &.waterloo     { background: #1ab98f; }
}

span a.current-user {
  padding: 0 !important;
}


